<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"> <%=current_user.accounting_entity.name %> | Admin</a>
    <ul class="nav">
      <li class="active"><%= link_to :companies, companies_path %></li>
      <li><a href="#"><%= t(:impuestos) %></a></li>
      <li><a href="#"><%= t(:users) %></a></li>
    </ul>
  </div>
</div>
