<footer class="footer">
  <small>
    VencimientosOnline.com by &copy;Morocco
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   '/static_pages/about' %></li>
      <li><%= link_to "Contacto", '/static_pages/contact' %></li>
    </ul>
  </nav>
</footer>